# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
**[Bb][Uu][Ii][Ll][Dd]
**[Bb][Ii][Nn]

[Mm]ake[Ff]ile
**.make

*.cache

# Nvim files
**compile_commands.json

# Unignore premake binary
!vendor/premake/*


##########
#   VS   #
##########
**vcxproj**
**.sln
**.slnx
**.vs/
**.aps

##########
#   VSC  #
##########
**.vscode/


